[Unit]
Description=MotorStart Service
# 关键1：RK3576必须等内核、总线、网卡驱动加载完成再执行，顺序不能乱
After=sysinit.target network.target systemd-modules-load.service
# 关键2：防止服务执行过早，强制延迟2秒启动，规避硬件初始化不完成的问题
# 关键3：仅在开机执行一次，不重复启动
ConditionPathExists=/sys/class/net/

[Service]
ExecStartPre=/bin/sleep 15

User=ztl
# 脚本绝对路径，务必和你的实际路径一致
ExecStart=/home/ztl/robot_cleaning/motor_start.sh
# 异常时重启，保留你的原有需求
#Restart=on-failure

[Install]
WantedBy=multi-user.target